<mat-nav-list>
    <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!isAuth">
        <mat-icon>face</mat-icon>
        <span class="navigation-text">Signup</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
        <mat-icon>login</mat-icon>    
        <span class="navigation-text">Login</span>
    </a>
    <a mat-list-item routerLink="/training" (click)="onClose()" *ngIf="isAuth">
        <mat-icon>fitness_center</mat-icon>    
        <span class="navigation-text">Training</span>
    </a>
    <mat-list-item *ngIf="isAuth">
        <button mat-icon-button (click)="onClose()">
            <mat-icon>logout</mat-icon>
            <span class="navigation-text">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>     